<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <h1>Developer Skills</h1>  
    <nav>
        <a href="/">Home</a>
        <a href="/skills">Developer Skills</a>
         <!-- <a href="/skills/show">Completed Skills</a>  -->
         <a href="/skills/new">Add New Skill</a>
    </nav>
    <ul>
        <% skills.forEach(function(skill){ %>
            <ol>
               
                <a href="/skills/<%= skill.devSkill%>"><%= skill.devSkill %></a>  
                :
                <input type="hidden" ><%=skill.done ? 'Done' : 'Not Done'%>

            </ol>
          
        <%})  %> 
    </ul>
  
</body>
</html>