<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Developer Skills </h1>
    <nav>
        <a href="/">Home</a>
        <a href="/skills">Developer Skills</a>
        <a href="/skills/new">Add New Skill</a>
    </nav>
    <br>
    <h5>Add an Additional Skill Below:</h5>
    <br>
    <form action="/skills" method="POST">
        <input type="text" name="skill">
        <button type="submit">Submit</button>  
    </form>



</body>
</html>